<div class="main">
    <h2>Bookmarks</h2>
    <div>
        <button type="button" class="button-search" (click)="getBookmarkData()">Show Bookmarks</button>
        <span class="processing blink">{{processing}}</span>
    </div>
    <table *ngIf="result[0]" hidden="{{hidden}}" class="styled-table">
      <thead>
        <tr>
          <th>Banner</th>
          <th>Name</th>
          <th>Genres</th>
          <th>Language</th>
          <th>Status</th>
          <th>Days</th>
          <th>Time</th>
          <th>Remove from Bookmarks</th>
        </tr>
      </thead>
      <tr *ngFor="let comp of result">
        <td *ngIf="comp.show.image"><div><img src="{{comp.show.image.medium}}"></div></td>
        <td *ngIf="!comp.show.image"><div><img src="https://via.placeholder.com/100"></div></td>
        <td>{{comp.show.name}}</td>
        <td>{{comp.show.genres}}</td>
        <td>{{comp.show.language}}</td>
        <td>{{comp.show.status}}</td>
        <td>[{{comp.show.schedule.days}}]</td>
        <td>{{comp.show.schedule.time}}</td>
        
        <!--
        <td *ngIf="comp.show.schedule.days[0]">[{{comp.show.schedule.days}}]</td>
        <td *ngIf="!comp.show.schedule.days[0]">ND</td>
        <td *ngIf="comp.show.schedule.time">{{comp.show.schedule.time}}</td>
        <td *ngIf="!comp.show.schedule.time">ND</td>
        -->
        <td>
            <button type="button" class="button-delete" (click)="delBookmark(comp.show.id)">Delete</button>
        </td>
      </tr>
         <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button type="button" class="button-delete" (click)="delAllBookmark()">Delete ALL!</button></td>
        </tr>
    </table>
    <div>
      <p *ngIf="!result[0]" hidden="{{hidden}}">No Bookmarks</p>
    </div>

</div>